html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: #c2eabd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  height: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #c2eabd;
}

input, button, textarea, select {
  background-color: #282828;
  color: #c2eabd;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

button {
  background-color: #4db6ac;
  color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #26a69a;
}

input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(194, 234, 189, 0.7);
}

input::placeholder, textarea::placeholder {
  color: #80cbc4;
}

.app-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.joke-column, .weather-column, .user-column {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.weather-column {
  border-left: 6px solid #333;
  border-right: 6px solid #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
}

/* Mobile layout adjustments */
@media (max-width: 768px) {
  .content-row {
    flex-direction: column;
  }

  .joke-column, .weather-column, .user-column {
    width: 100%;
    border: none;
  }

  .joke-column, .weather-column {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #333; /* Horizontal line between joke/weather and user */
    padding-bottom: 20px; /* Add padding below the line */
    margin-bottom: 20px; /* Add margin below the line */
  }

  .joke-column > div, .weather-column > div {
    width: 48%;
    border-right: 1px solid #333; /* Vertical line between joke and weather */
    padding-right: 10px; /* Add padding to the right of the line */
  }

  .joke-column > div:last-child, .weather-column > div:last-child {
    border-right: none; /* Remove right border from the last div */
  }

  .user-column {
    margin-top: 20px;
    flex-direction: column;
  }
}